.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconsPadding {
  margin-right: 20px;
  margin-top: 2px;
}

.sideNav {
  font-size: 15px;
  font-weight: "bold";
  cursor: "pointer";
  width: 200px;
  z-index: 1000;
  left: 0;
  display: inline-block;
  top: 56px;
  border-right: 1px;
  min-width: 200px;
  height: 100%;
}

.body {
  display: inline-block;
  height: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 93%;
  overflow:hidden;
}

.datepickers {
  padding:5px;
  display: flex;
  flex-direction: row;
}

input{
  width: 70px;
  
  font-size: small;
  line-height: 10px;
}

.tableDataRows {
  width: 100px;
  margin: 10px;
}

th{
  padding: 5px;
  font-size: 11px;
  
}

tr {
  border-bottom: 1px solid gray;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

td {
  padding: 10px;
  font-size: small;
}

.workInputContainer {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.addWork {
  padding: 10px;
  margin: 10px;
}

.tableRows {
  margin: 10px;
  padding:10px
}

.tableRows span {
  margin-right: 5px;
  margin-top: 2px;
}

.workTypeColumn {
  padding-right: 5px;
  margin-right: 5px;
  min-width: 120px;
}

.addWorkContainer {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.workContainerBtn {
  margin-left: 50px;
  height: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 80%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #8FBC8F;
  text-decoration: none
}

.workContainerBtn:hover{
  background-color: #D2E4D2;
}

