.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconsPadding {
  margin-right: 20px;
  margin-top: 2px;
}

.sideNav {
  font-size: 15px;
  font-weight: "bold";
  cursor: "pointer";
  width: 200px;
  z-index: 1000;
  left: 0;
  display: inline-block;
  top: 56px;
  border-right: 1px;
  min-width: 200px;
  height: 100%;
}

.body {
  display: inline-block;
  height: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 93%;
  overflow:hidden;
}